@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

html {
  font-size: 1vw;
  overflow-x: hidden;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
  color: #282828;
  background: url(images/woman-under-seljalandsfoss-waterfall-iceland-picjumbo-com.jpg)
    no-repeat center;
  background-size: cover;
}

div {
  display: block;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  font-family: "Roboto", sans-serif;
}

.container {
  color: #282828;
  position: relative;
  width: 100vw;
  height: 100vh;
  border-radius: 0 0 100px 100px;
  opacity: 0.9;
}

.form-container {
  background: rgba(45, 52, 54, 1);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  color: #111;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 35px;
  margin-top: 15px;
  border: 1px solid #ff4b2b;
  border-radius: 20px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  font-weight: bold;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.ghost {
  background: transparent;
  border-color: #ff4b2b;
  background-color: #64a6e1;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 0;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: transparent;
  background: linear-gradient(to right, #ff4b2b, #ff416c) no repeat 0 0 / cover;
  color: rgb(31, 1, 1);
  position: absolute;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

#signUp {
  color: rgb(59, 9, 9);
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 15px;
  outline: 0;
  animation: ligth 1.5s linear infinite alternate;
}

@keyframes ligth {
  0% {
    box-shadow: 0 0 20px 0 rgba(150, 13, 143, 0.979);
  }
  100% {
    box-shadow: 0 0 20px 0 rgb(11, 122, 156);
  }
}
