@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luxurious Roman", cursive;
  background-color: #111;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
}

.container {
  float: center;
  text-align: center;
  overflow: visible;
  min-height: 480px;
  width: 468px;
  max-width: 100%;
}

a {
  color: #fff;
  font-size: 10px;
  width: 10px;
  text-decoration: none;
  background: rgba(150, 13, 143, 0.979);
  padding: 15px 30px;
  border-radius: 15px;
  animation: ligth 1.5s linear infinite alternate;
}

#vk {
  background: url(images/VK_Monochrome_Logo_t-170x170.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#ins {
  background: url(images/001-Kruglyj-znachok-instagram-thumb-170x170.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#facebo {
  background: url(images/znachok-facebook-t-170x170.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: inherit;
}

@keyframes ligth {
  0% {
    box-shadow: 0 0 20px 0 rgba(150, 13, 143, 0.979);
  }
  100% {
    box-shadow: 0 0 20px 0 rgb(11, 122, 156);
  }
}

a:hover {
  cursor: pointer;
  color: rgb(11, 122, 156);
}

#buton {
  position: fixed;
  text-align: right;
}

#buton {
  display: inline-block;
  padding: 1em;
  position: relative;
  left: 900px;
  top: -450px;
}

.form-container {
  margin: 15px;
  padding: 30px;
}

h1 {
  align-items: center;
  float: center;
}
h2 {
  align-items: center;
  float: center;
}

.social-container div {
  display: inline-block;
  padding: 1em;
  position: relative;
  left: 400px;
  top: -80px;
}

.inp {
  position: relative;
  left: 400px;
  top: -70px;
}

.imputReg {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  padding: 15px 15px;
  margin: 5px;
  border-radius: 15px;
  animation: ligth 1.5s linear infinite alternate;
  opacity: 0.7;
}

@keyframes ligth {
  0% {
    box-shadow: 0 0 20px 0 rgba(150, 13, 143, 0.979);
  }
  100% {
    box-shadow: 0 0 20px 0 rgb(11, 122, 156);
  }
}

.imputReg::placeholder {
  opacity: 1;
  color: #710cf2;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

#btn {
  position: relative;
  background: transparent;
  display: inline-block;
  padding: 25px 30px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  margin-right: 50px;
}

#btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.overlay-panel {
  margin: 10px;
  padding: 10px;
  align-items: center;
  float: center;
}

.overlay-panel p {
  margin: 10px;
  padding: 10px;
  align-items: center;
  float: center;
}
